extends base
block contenido
    h1 Página inicio 
    a(href='/contacto', class="waves-effect waves-light btn") #[i(class="material-icons") location_on ] Donde estamos
    //-<a class=""><i class="material-icons right">cloud</i>button</a>
    p.
     Esta es una página echa con Jose Luis, el profesor, con Jade y Express, aprendiendo cosa nuevas   