extends base
block contenido
    h1.
        Página de contacto
    p.
        #{direccion}
    p.
        Volver a la #[a(href='/', class="waves-effect waves-light btn") #[i(class="material-icons") home ] Inicio]